[submodule "Build/Wonder/JobTemplates/Git/InstallWOAndWonder"]
	path = Build/Wonder/JobTemplates/Git/InstallWOAndWonder
	url = git@github.com:avendasora/WOJenkins_Job_InstallWOAndWOnder
[submodule "Build/WonderProjects/JobTemplates/Git/WOnder-Based_WOProject"]
	path = Build/WonderProjects/JobTemplates/Git/WOnder-Based_WOProject
	url = https://github.com/avendasora/WOJenkins_Job_WOnder-Based_WOProject
